<head>
    <title>Pet Food Calculator</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="views/layouts/main.css">
</head>

<!-- menu bar -->

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="home">Pet Food Calculator</a>
        <li class="nav-item"><a href="home">Home</a></li>
        <li class="nav-item"><a href="hills">Hill's</a></li>
        <li class="nav-item"><a href="rc">Royal Canin</a></li>
        <li class="nav-item"><a href="otc">Over the Counter</a></li>
        <li class="nav-item"><a href="addPet">Add a Pet</a></li>
    </nav>
</div>