<head>
    <title>Pet Food Calculator</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    
    {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}
    
</head>

<!-- menu bar -->

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Pet Food Calculator</a>
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/products">Products</a></li>
        <li class="nav-item"><a href="/pets">Pets</a></li>
        <li class="nav-item"><a href="/clients">Clients</a></li>
        <li class="nav-item"><a href="/healthIssues">View Health Issues</a></li>
    </nav>
</div>