<!-- menu bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="home">Pet Food Calculator</a>
        <li class="nav-item"><a href="home">Home</a></li>
        <li class="nav-item"><a href="hills">Hill's</a></li>
        <li class="nav-item"><a href="rc">Royal Canin</a></li>
        <li class="nav-item"><a href="otc">Over the Counter</a></li>
</nav>
