<!-- not currently in use; plan to implement after incorporating 
    calculation function -->

<div class="container">
<h3>Results for {{name}}</h3>
<h4>100% dry: </h4>
<p>___ cups per day</p>
<h4>75% dry, 25% wet: </h4>
<p>___ cups per day</p>
<p>___ cans per day</p>
<h4>50% dry, 50% wet: </h4>
<p>___ cups per day</p>
<p>___ cans per day</p>
<h4>25% dry, 75% wet: </h4>
<p>___ cups per day</p>
<p>___ cans per day</p>
<h4>100% wet</h4>
<p>___ cans per day</p>

<p>* Weight-based calculations are estimates based on feeding 25 kcal per pound per day. 
    Your pet's needs may be different. Consult with your veterinarian for a specific calorie goal.
</p>
</div>